.texto-con-brillo {
    font-size: 3em;
    color: white; /* Color del texto */
    text-shadow: 0 0 10px green,  /* Sombra del texto para el brillo */
                  0 0 20px green,
                  0 0 30px green; 
    border: 2px solid green; /* Borde verde */
    padding: 10px; /* Espacio alrededor del texto para que se vea el borde */
    display: inline-block; /* Para que el borde se ajuste al contenido */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
}

/* Opcional: Efecto hover */
.texto-con-brillo:hover{
    text-shadow: 0 0 15px lime,  
                  0 0 25px lime,
                  0 0 35px lime;
    border-color: lime; /* Cambia el color del borde al pasar el mouse */
}


body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}